@using HelpDesk.ConsumerEventService.DTO
@using HelpDesk.ConsumerEventService.Resources
@model UserDeedlineAppEventSubscribeDTO

@{
    Layout = "_Layout.cshtml";
}

<h>@Resource.Subject_RequestDeedlineAppEventConsumer</h>
<p>
    <table>
       @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Id</td>
            </tr>
        }
    </table>
</p>