@using HelpDesk.ConsumerEventService.DTO
@using HelpDesk.ConsumerEventService.Resources
@model UserRequestAppEventSubscribeDTO

@{
    Layout = "_Layout.cshtml";
}

<table class="table table-striped">
    @Html.Partial("_RequestHeader")
    <tbody>
        @Html.Partial("_Request", Model.Request)
    </tbody>
</table>