@using HelpDesk.ConsumerEventService.DTO
@using HelpDesk.ConsumerEventService.Resources
@model UserDeedlineAppEventSubscribeDTO

@{
    Layout = "_Layout.cshtml";
}

<h>@Resource.Subject_RequestDeedlineAppEventConsumer</h>
<p>
    <ul>
        @foreach (var item in Model.Items)
            {
            <li>
                <span>@item.RequestId</span>
                <span>@item.RequestStatusName</span>
                <span>@item.DateEndPlan</span>
            </li>
        }
    </ul>
</p>