@using HelpDesk.ConsumerEventService.DTO
@using HelpDesk.ConsumerEventService.Resources
@model UserEventSubscribeDTO

@{
    Layout = "_Layout.cshtml";
}

<p>
    Вы зарегистрированы в системе <b>@Resource.AppName</b>. Для возможности подачи заявок заполните информацию на вкладках 
    <b>Мои данные</b> и <b>Мои объекты</b>
</p>